@media only screen and (max-width: 600px) {
  section {
    width: 95%;
  }
  section .profile .my ul li {
    width: 17%;
  }
}

@media only screen and (min-width: 600px) {
  section {
    width: 600px;
  }
}

@media only screen and (min-width: 768px) {
  section {
    width: 600px;
  }
}

@media only screen and (min-width: 992px) {
  section {
    width: 600px;
  }
}

@media only screen and (min-width: 1200px) {
  section {
    width: 600px;
  }
}
