body {
  direction: rtl;
  padding: 0;
  margin: 0;
} 
a {
  text-decoration-line: none;
  color: #000;
}

i {
  padding: 5px;
}

.b-r, section, .B li, .B p {
  border-radius: 10px;
}

.sh, section, section .profile .my, section .profile .my .icon img, .B p {
  box-shadow: 0 0px 6px -4px;
}

.m-auto, section .profile .img-bg .bg {
  margin: 0 auto;
}

section {
  height: auto;
  margin: 10px auto;
}

section .profile {
  color: #000;
}

section .profile .img-bg {
  width: 100%;
  height: 200px;
  padding-top: 10px;
  background-color: #000;
  border-radius: 10px 10px 0 0;
}

section .profile .img-bg .img {
  width: 100%;
  z-index: 2;
  position: inherit;
  border-radius: 10px 10px 0 0;
  background: url(../img/bg.png);
  height: 200px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

section .profile .img-bg .bg {
  border-radius: 50%;
  background-color: #fff;
  width: 80px;
  height: 80px;
  margin-top: 50px;
  box-shadow: 0px 0px 20px 0px white;
}

section .profile .my .icon {
  margin-top: 30px;
  margin-right: 20px;
  float: right;
}

section .profile .my .icon img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

section .profile .my h1 {
  margin-right: 150px;
  margin-top: 0px;
  text-align: center;
  font-size: 1rem;
  padding: 15px;
}

section .profile .my ul {
  padding: 0;
  margin: 0;
}

section .profile .my ul button {
  padding: 10px;
  width: 24%;
  text-align: center;
  border-bottom: 1px solid #ebeaea;
  background-color: white;
  color: #000;
  text-decoration-line: none;
}

section .profile .my ul button:hover {
  border-bottom: 1px solid #86bd45;
  background-color: #e8f0e9;
}

section #accordion {
  text-align: right;
}

.B {
  text-align: center;
  margin: 0px -40px;
  width: 100%;
}

.B i {
  margin: 0;
}

.B a {
  border: 1px solid #007bff;
  width: 50px;
  color: #007bff;
}

.B a i:hover {
  color: #007bff;
}

.B li {
  display: inline-block;
  border: 1px solid #007bff;
  padding: 7px;
  margin: 5px;
}

.B p {
  width: 200px;
  padding: 10px;
}
