/* button {
    appearance: button; 
    text-rendering: auto;
    color: -internal-light-dark(buttontext, rgb(170, 170, 170));
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(74, 74, 74));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
} */

@font-face {
    font-family: 'LamaSans';
    src: url('/fonts/ArbFONTS-LamaSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'LamaSans';
    src: url('/fonts/ArbFONTS-LamaSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'LamaSans';
    src: url('/fonts/ArbFONTS-LamaSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'LamaSans';
    src: url('/fonts/ArbFONTS-LamaSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'LamaSans';
    src: url('/fonts/ArbFONTS-LamaSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'LamaSans';
    src: url('/fonts/ArbFONTS-LamaSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'LamaSans';
    src: url('/fonts/ArbFONTS-LamaSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LamaSans';
    src: url('/fonts/ArbFONTS-LamaSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'LamaSans';
    src: url('/fonts/ArbFONTS-LamaSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

body,
* {
    font-family: 'LamaSans', sans-serif;
}